/* Estilizando o fundo da tela */
.registro {
  background-image: url(./assets/Backgroup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Mantém o fundo cobrindo toda a tela */
  padding: 20px; /* Evita que os elementos encostem nas bordas em telas menores */
}

/* Estilizando o box central */
.box {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  backdrop-filter: blur(10px); /* Efeito de vidro fosco */
  width: 50%;
  max-width: 500px; /* Mantém um tamanho adequado */
  padding: 20px;
  border-radius: 10px; /* Borda arredondada para um design mais moderno */
  text-align: center;
}

/* Estilizando os textos */
.box h1 {
  font-size: 50px; /* Tamanho reduzido para melhor responsividade */
  text-align: center;
  padding: 10px;
  color: #fff;
}

.box h3 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

/* Estilizando os inputs */
.box input {
  background-color: transparent;
  width: 80%;
  padding: 15px;
  margin: 15px auto;
  display: block;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: solid 2px #fff;
  color: #fff;
}

/* Estilizando o botão */
.box button {
  width: 70%;
  height: 60px;
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Efeito hover para o botão */
.box button:hover {
  background-color: #ddd;
}

.mensagem {
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.sucesso {
  background-color: rgba(0, 128, 0, 0.7); /* verde */
}

.erro {
  background-color: rgba(255, 0, 0, 0.7); /* vermelho */
}
